* {
    margin: 0;
}
html {
    background-color: gray;
}
body {
    max-width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.6em;
}

header {
    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
}

#about {
    background-image: url("../img/bg-1.png");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5%;
}

#hobbie {
    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5%;
}

#education {
    background-image: url("../img/bg-4.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5%;
}

#skills {
    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
}

#project {
    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content:space-between;
    align-content: center;
    padding-left: 5%;
}

#contact {
    background-image: url("../img/bg-7.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5%;
}
p {
    padding: 15px;
}
h2 {
  padding: 10px;
  text-align:center;
}
footer p {
    text-align: center;
}
a {text-align: center;
}
