* {
    margin: 0;
}
html {
    background-color: gray;
}
body {
    max-width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.6em;
}

header {
    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    margin: 0 auto;
    }

.name {
    display: flex;
    flex-direction:column;
    margin: 0 auto;
}

#face {
    display: flex;
    justify-content: flex-end;
}

#about {
    background-image: url("../img/bg-1.png");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5px;
    margin: 0 auto;
}

#hobbie {
    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 25px;
    margin: 0 auto;
}

#education {
    background-image: url("../img/bg-4.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#skills {
    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

#project {
    background-image: url("#");
    background-position: center center;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content:center;
    align-content: center;
    margin: 0 auto;
}
.project {
    margin: 30px;
    height: 300px;
    width: 600px;
    background-color: powderblue; 
}
#contact {
    background-image: url("../img/bg-7.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-left: 5%;
    margin: 0 auto;
}
form {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    color: white;
    max-width: 340px;
}

p {
    padding: 15px;
}
h2 {
  padding: 10px;
  text-align:center;
}
footer p {
    text-align: center;
}
a {text-align: center;
}
